<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okandroid.boot">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true"
        android:label="@string/okandroid_app_name"
        android:supportsRtl="true"
        android:theme="@style/OKAndroid.Theme">
        <provider android:name="com.okandroid.boot.lang.BootFileProvider"
            android:authorities="${applicationId}.okandroid.boot.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/okandroid_boot_fileprovider_paths"/>
        </provider>
    </application>
</manifest>
